@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";

:root {
  --gh-textarea-width: 650px;
  --popover-padding: 12px;
  --popover-height: 320px;
  --popover-footer: 16px;
}

.tippy-content {
  padding: 0;
}

.gitphy--popover {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  box-sizing: border-box;
  max-width: var(--gh-textarea-width);
  width: var(--gh-textarea-width);
  height: calc(var(--popover-height) + var(--popover-footer));
  padding-top: var(--popover-padding);
}

.gitphy--popover-content {
  max-width: calc(var(--gh-textarea-width) - 2 * var(--popover-padding));
  width: calc(var(--gh-textarea-width) - 2 * var(--popover-padding));
  height: calc(var(--popover-height) - 2 * var(--popover-padding));

  padding: 0;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
}

/* used for loading and no results */
.gitphy--intermediate-state {
  line-height: var(--popover-height);
  font-size: 24px;
  font-weight: 500;
}

.gitphy--gif {
  font-size: 0;
  width: 125px;
  height: 125px;
  object-fit: cover;

  cursor: pointer;

  border: 5px solid #fff;
}

.giphy--attribution-wrapper {
  margin-top: 6px;
  margin-right: var(--popover-padding);
  text-align: right;
}

.giphy--attribution {
  height: 12px;
}
